.aboutUsContainer{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 min-height: 70vh;
 text-align: center;
 color: rgb(24, 3, 3);
 background-color: white;
 font-size: 2vw;
}

.aboutHeader{
 margin-bottom: 5vh;
 color: rgb(24, 3, 3);
}
.aboutDesc {
 align-self: center;
 max-width: 80%;
 min-height: 30vh;  padding-bottom: 2vh;
}

@media screen and (max-width: 980px){
 .aboutUsContainer{
  font-size: 5vw;

 }
}