.headerContainer{
 height: 25vh;
 width: 100vw;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0;
}

.headerTitle{
 z-index: 3001;
 position: fixed;
 color: rgb(24, 3, 3);
}

.headerImg{
 position: fixed;
 z-index: 3000;
 object-position: center 55%;
 object-fit: cover;
 width: 100vw;
 height: 25vh;
 top: 0;
}