.headerContainer{
 max-height: 25vh;
 width: 100vw;
 overflow: hidden;
 display: flex;
 flex-direction: column;
}

.headerTitle{
 z-index: 3001;
}

.headerImg{
 z-index: 3000;
 position: fixed;
 object-position: center;
 object-fit: cover;
 width: 100%;
 max-height: 25vh;
}