.idvService{
 display: flex;
 flex-direction: column;
 border: 10px solid rgb(24, 3, 3);
 background-color: white;
 text-align: center;
 align-items: center;
 justify-content: space-evenly;
 text-wrap: nowrap;
 color: #180303;
 width: 40vw;
 height: 70vh;
}
.serviceTitle{
 font-size: 4vh;
}

.serviceImg{
 width: 100%;
 max-height: 40vh;
 aspect-ratio: 16/8;
}

.serviceDescription{
 font-size: 2vh;
 justify-self: center;
 white-space: wrap;
 width: 90%;

}

@media screen and (max-width: 1080px) {
 .idvService {
  width: 80vw;
  max-height: none;
 }
 .serviceTitle{
  font-size: 4vw;
 }
  .serviceImg {
   width: 100%;
   max-height: 60%;
  }
}