.serviceContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100vw;
 font-size: 2rem;
}

.serviceWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}