:root {
  --forest-900: #1f2a22;
  --forest-700: #314236;

  --wood-900: #2f1c0f;
  --wood-800: #4a2c17;
  --wood-700: #6a4121;

  --gold-500: #c8a96b;
  --gold-400: #dbc08e;

  --cream-100: #f5efe3;
  --cream-200: #e8dcc5;

  --charcoal-900: #161616;
  --charcoal-700: #2c2c2c;
}

@media (prefers-color-scheme: dark) {
:root {
    --forest-900: #1f2a22;
    --forest-700: #314236;

    --wood-900: #2f1c0f;
    --wood-800: #4a2c17;
    --wood-700: #6a4121;

    --gold-500: #c8a96b;
    --gold-400: #dbc08e;

    --cream-100: #f5efe3;
    --cream-200: #e8dcc5;

    --charcoal-900: #161616;
    --charcoal-700: #2c2c2c;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
h2{
  color: wheat;
}

body {
  background: var(--background);
  background-image: url('../../public/pexels-ksw-photographer-2372420-4018952.jpg');
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
